body {
  margin: 0;
  padding: 0;
  background-color: hsl(30deg, 38%, 92%);
}
body .product-container {
  background-color: hsl(30deg, 38%, 92%);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 1.8em 1em;
  flex-direction: column;
}
@media (min-width: 576px) {
  body .product-container {
    min-height: 100vh;
    padding: 0;
  }
}
body .product-card {
  font-family: Montserrat;
  font-weight: 500;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(228deg, 12%, 48%);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
@media (min-width: 576px) {
  body .product-card {
    flex-direction: row;
    max-width: 41.7vw;
    min-height: 50vh;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  body .product-card-img {
    width: 50%;
  }
}
body .product-card-img img {
  width: 100%;
  background-size: cover;
  min-height: 30vh;
  border-radius: 10px 10px 0 0;
}
body .product-card-img img.desktop {
  display: none;
}
@media (min-width: 576px) {
  body .product-card-img img {
    border-radius: 10px 0 0 10px;
    height: 100%;
  }
  body .product-card-img img.mobile {
    display: none;
  }
  body .product-card-img img.desktop {
    display: block;
  }
}
body .product-card-description {
  flex-grow: 1;
  border-radius: 0 0 5% 5%;
  padding: 1.7em 2em 2em 2em;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  body .product-card-description {
    width: calc(50% - 5.2em);
    padding: 2.6em;
  }
}
body .product-card-description .san-serif {
  font-family: Fraunces;
  font-size: 32px;
}
body .product-card-description-category {
  letter-spacing: 5px;
  margin-bottom: 1em;
}
@media (min-width: 576px) {
  body .product-card-description-category {
    margin-bottom: 1.8em;
  }
}
body .product-card-description-details {
  margin-bottom: 0.4em;
}
@media (min-width: 576px) {
  body .product-card-description-details {
    margin-bottom: 0em;
  }
}
body .product-card-description-info {
  line-height: 23px;
  font-size: 14px;
  letter-spacing: 0.11px;
  margin: 1.11em 0;
}
@media (min-width: 576px) {
  body .product-card-description-info {
    margin: 1.78em 0;
  }
}
body .product-card-description-name {
  color: hsl(212deg, 21%, 14%);
  line-height: 32px;
  letter-spacing: -0.3px;
}
body .product-card-description-price {
  display: flex;
  align-items: center;
  color: hsl(158deg, 36%, 37%);
  margin-bottom: 0.5em;
  letter-spacing: -0.2px;
}
@media (min-width: 576px) {
  body .product-card-description-price {
    margin-bottom: 0.8em;
  }
}
body .product-card-description-price .discounted {
  margin-left: 1.45em;
  font-size: 13px;
  text-decoration: line-through;
  color: hsl(228deg, 12%, 48%);
  font-family: Montserrat;
}
body .product-card-description-button {
  font-family: Montserrat;
  font-weight: 700;
  background-color: hsl(158deg, 36%, 37%);
  color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  letter-spacing: 0.6px;
}
body .product-card-description-button svg {
  margin-right: 0.9em;
}
body .product-card-description-button:hover {
  cursor: pointer;
}
body .attribution {
  padding: 2em;
  text-align: center;
}/*# sourceMappingURL=main.css.map */